Source: iprohc
Priority: optional
Maintainer: Viveris Technologies
Build-Depends: debhelper (>= 7.0.15), libtool, iproute-dev, librohc-dev, cmake
Standards-Version: 3.8.4
Section: libs

Package: iprohc-common
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librohc
Description: A tunnel application using ROHC to
  compress packets headers. Common part.

Package: iprohc-server
Architecture: any
Depends: ${misc:Depends}, iprohc-common
Description: A tunnel application using ROHC to
  compress packets headers. Server part.

Package: iprohc-client
Architecture: any
Depends: librohc, iprohc-common, ${misc:Depends}
Description: A tunnel application using ROHC to
  compress packets headers. Client part.
